<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>G3WebClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>controller.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Etudiant</display-name>
    <servlet-name>Etudiant</servlet-name>
    <servlet-class>controller.Etudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etudiant</servlet-name>
    <url-pattern>/Etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filiere</display-name>
    <servlet-name>Filiere</servlet-name>
    <servlet-class>controller.Filiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filiere</servlet-name>
    <url-pattern>/Filiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>controller.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilEtud</display-name>
    <servlet-name>FilEtud</servlet-name>
    <servlet-class>controller.FilEtud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilEtud</servlet-name>
    <url-pattern>/FilEtud</url-pattern>
  </servlet-mapping>
</web-app>